.board {
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  .board-header {
    height: 80px;
    width: 100%;

    padding-top: 100px;
    margin-bottom: 25px;
    border-bottom: 2px solid grey;
    .board-header-title {
      font-size: 30px;
    }
  }
  .board-write-wrapper {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    padding-top: 50px;
    .board-write {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 30px;
      border: 1px solid rgb(38, 38, 103);
      background-color: blue;
      color: #fff;

      cursor: pointer;
    }
  }
}
